*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: black;
  --primary-btn-text-color: white;
  --secondary-text-color: #555;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

.capital-letters {
  text-transform: capitalize;
}

.flex-container {
  display: flex;
  align-items: center;
}

/* Fix this */
.ver-margin-5 {
  margin: 0 10px;
}

a {
  text-decoration: underline;
  color: var(--primary-text-color);
  font-weight: bold;
  text-transform: capitalize;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
}

svg {
  width: auto;
  height: 30px;
  padding-top: 2%;
}

h1 {
  line-height: 1.5em;
}

nav {
  padding: 5px;
  box-shadow: 0px 1px 1px 0px rgba(148, 143, 143, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

nav .nav-container {
  justify-content: space-between;
}

.nav-icons i {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
}

.nav-icons i:hover {
  background-color: #f7f7f7;
}

.nav-icons i:active,
.nav-icons i:focus {
  border: 1px solid black;
}

.strong-link {
  text-transform: uppercase;
  text-decoration: none;
}

.strong-link:hover {
  text-decoration: underline;
}

.nav-btn {
  background-color: #000;
  color: var(--primary-btn-text-color);
  padding: 7px 15px;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: rgb(51, 51, 51);
}

.nav-center {
  align-items: center;
}

main {
  position: relative;
  top: 10vh;
  width: 65%;
  margin: 0 auto;
}

#article-header {
  text-align: left;
}

#article-header h1 {
  font-size: 2.5em;
  margin: 0 20%;
  padding: 3% 0;
  font-style: italic;
}

#article-header figure {
  width: 100%;
}

#article-header figure img {
  width: 100%;
}

#article-header figure figcaption {
  width: 75%;
  padding: 5px;
  font-size: 14px;
  color: var(--secondary-text-color);
}

#article-header figure figcaption span {
  font-size: 12px;
  /* color: #888; */
  color: var(--secondary-text-color);
}

.article-container {
  width: 550px;
  margin: 0 auto;
}

#author {
  margin-top: 30px;
}

#author h3 {
  padding: 2% 0;
}

#author h3 a {
  text-decoration: underline #aaa;
}

#author h3 a:hover {
  text-decoration: none;
}

.author-links {
  justify-content: space-between;
  margin: 20px 0;
}

.author-links span {
  color: var(--primary-text-color);
}

.author-social {
  justify-content: space-between;
}

.author-social a {
  background-color: #ddd;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.author-social a:hover {
  background-color: white;
}

.author-social a.solid {
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 1.7em;
}

.author-social a.solid:hover {
  color: #ddd;
}

article {
  font-size: 1.5em;
  font-weight: light;
  line-height: 2em;
}

article p {
  margin: 10px 0;
}

#editors-pick {
  width: 200px;
  position: absolute;
  right: 5vw;
  z-index: 999;
  top: 2000px;
}

#editors-pick h4 {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

#editors-pick div img {
  float: left;
  height: 80px;
}

#editors-pick div {
  padding: 10px 0;
  clear: both;
}

#editors-pick div a {
  float: right;
  width: 50%;
  position: relative;
  top: 1.2em;
  font-size: 0.9em;
}

#inflation {
  margin: 30px auto;
}

#inflation > p {
  color: var(--secondary-text-color);
  margin: 10px 0;
}

#inflation-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

#inflation-grid-container img {
  height: 150px;
}

#inflation-grid-container span {
  margin-right: 2px;
  color: var(--primary-text-color);
}

#inflation hr {
  width: 10%;
}

#inflation > h3 {
  color: var(--secondary-text-color);
  margin: 10px 0;
}

article figure {
  margin: 0 -20%;
}

article figure img {
  height: 500px;
  margin: 0 auto;
}

article figure figcaption {
  width: 75%;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5em;

  color: var(--secondary-text-color);
}

article figure figcaption span {
  font-size: 12px;
  /* color: #888; */
  color: var(--secondary-text-color);
}

#video {
  margin: 0;
}

#video iframe {
  width: 600px;
  height: 358px;
  border: none;
}

.article-footer-text,
.article-footer-text a {
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.5em;
  font-weight: normal;
}

.article-footer-text a:hover {
  text-decoration: none;
}

.article-footer-links {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.article-footer-links button {
  width: 300px;
  background-color: rgb(86, 123, 149);
  color: white;
}
.article-footer-social {
  width: 30%;
}

.article-footer-social ul {
  width: 100%;
  justify-content: space-between;
}

#bottom-grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 20vh 20vh 0 20vh;
  grid-column-gap: 50px;
}

.more-articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px repeat(2, 0.25fr);
  border-top: 1px solid #000;
  grid-gap: 15px;
}

.more-articles-grid h3 {
  grid-column: 1 / -1;
  align-self: center;
}

.more-articles-grid h3 a {
  text-decoration: none;
}

.more-articles-grid h3 a:hover {
  text-decoration: underline;
}

.more-articles-grid-item img {
  width: 100%;
}

.more-articles-grid-item h6 {
  text-align: right;
  color: var(--secondary-text-color);
  font-weight: normal;
}

.more-articles-grid-item a {
  text-decoration: none;
  font-size: 14px;
}

.more-articles-grid-item a:hover {
  color: var(--secondary-text-color);
}

.more-articles-grid-item p {
  margin-top: 10px;
  color: var(--secondary-text-color);
}

.more-popular {
  padding: 20px 0;
  border-top: 1px solid black;
}

.more-popular ul {
  margin: 30px 5px;
}

.more-popular li {
  padding: 20px 0;
  border-top: 1px solid var(--secondary-text-color);
}

.more-popular a {
  font-size: 1.5em;
  font-weight: light;
  text-decoration: none;
}

.more-popular a:hover {
  color: var(--secondary-text-color);
}

#editors-pick-grid {
  margin-top: 50px;
  grid-template-rows: 60px 0.25fr;
}

footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-top: 1.5px double var(--secondary-text-color);
  margin: 2vh 20vh 0 20vh;
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  margin-top: 2px;
  border-top: 1px double var(--secondary-text-color);
  width: 100%;
}

footer a {
  grid-column: 1 / -1;
}

.footer-logo { 
  height: 60px;
}


@media only screen and (min-width: 1400px) {
  .nav-container {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1100px) {
  #editors-pick {
    display: none;
  }
}
