*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}

.capital-letters {
  text-transform: capitalize;
}

.flex-container {
  display: flex;
  align-items: center;
}

/* Fix this */
.ver-margin-5 {
  margin: 0 10px;
}

a {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
}

svg {
  width: auto;
  height: 30px;
  padding-top: 2%;
}

h1 {
  line-height: 1.5em;
}

nav {
  padding: 5px;
  box-shadow: 0px 1px 1px 0px rgba(148, 143, 143, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

nav .nav-container {
  justify-content: space-between;
}

.nav-icons i {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-icons i:hover {
  background-color: #f7f7f7;
}

.nav-icons i:active,
.nav-icons i:focus {
  border: 1px solid black;
}

.strong-link {
  text-transform: uppercase;
  text-decoration: none;
}

.strong-link:hover {
  text-decoration: underline;
}

.nav-btn {
  background-color: #000;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: rgb(51, 51, 51);
}

.nav-center {
  align-items: center;
}

main {
  position: relative;
  top: 10vh;
  width: 65%;
  margin: 0 auto;
}

#article-header {
  text-align: left;
}

#article-header h1 {
  font-size: 3.5em;
  margin: 0 20%;
  padding: 25px 10px;
  width: 50%;
  font-style: italic;
}

#article-header figure {
  width: 100%;
}

#article-header figure img {
  width: 100%;
}

#article-header figure figcaption {
  width: 75%;
  padding: 5px;
  font-size: 14px;
  color: #555;
}

#article-header figure figcaption span {
  font-size: 12px;
  color: #888;
}

.article-container {
  width: 50%;
  margin: 0 auto;
}

#author {
  margin-top: 30px;
}

#author h3 {
  padding: 2% 0;
}

#author h3 a {
  text-decoration: underline #aaa;
}

#author h3 a:hover {
  text-decoration: none;
}

.author-links {
  justify-content: space-between;
  margin: 20px 0;
}

.author-links span {
  color: #333;
}

.author-social {
  width: 30%;
  justify-content: space-between;
}

.author-social li {
  background-color: #ddd;
  padding: 2% 4%;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.author-social li:hover {
  background-color: white;
}

.author-social li.solid {
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 1.7em;
}

.author-social li.solid:hover a {
  color: #ddd !important;
}

article {
  font-size: 1.5em;
  font-weight: light;
  line-height: 2em;
}

article p {
  margin: 10px 0;
}

#editors-pick {
  width: 12%;
  position: absolute;
  right: 15%;
  z-index: 999;
  top: 150vh;
}

#editors-pick div img {
  float: left;
  height: 80px;
}

#editors-pick div {
  padding: 5px;
  clear: both;
}

#editors-pick div a {
  float: right;
  width: 50%;
  position: relative;
  top: 1.2em;
  font-size: 0.9em;
}

@media only screen and (min-width: 1400px) {
  .nav-container {
    width: 80%;
    margin: 0 auto;
  }
}
